:root {
  /*-----Text color----212121*/
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  /*-----bgcolor-----*/
  --main-background-color: #ffffff;
  --secondary-bgd-color: #2f303a;
  --third-bgd-color: #f5f4fa;
  --accent-color: #2196f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
}

.link {
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus, .link:active {
  color: var(--accent-color);
}

.list {
  list-style: none;
}
.list .nav__menu--active {
  color: var(--accent-color);
}

.logo {
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .logo {
    margin-right: 0px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 93px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  margin-right: 93px;
}

.logo__black-text {
  color: var(--title-text-color);
}

.nav__list {
  display: none;
}
.nav__list .nav__item:not(:last-child) {
  margin-right: 50px;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__item {
  position: relative;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link.nav__link--active::after {
  position: absolute;
  top: calc(100% - 4px);
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
}

.contacts {
  display: none;
  margin-left: auto;
}
.contacts .contacts__item + .contacts__item {
  margin-left: 50px;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:last-child {
    margin-right: 17px;
    margin-top: 10px;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__envelope-image {
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contacts__phone-image {
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--secondary-bgd-color);
  background-color: var(--secondary-bgd-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/backgraund.png);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgraund.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  text-align: center;
  max-width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.hero__button {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  margin-top: 30px;
  font-family: inherit;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 4px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus, .hero__button:active {
  -webkit-box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  background: var(--main-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #000000;
  background-color: var(--main-bgd-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover, .modal__close-button:focus, .modal__close-button:active {
  fill: var(--accent-color);
  background-color: var(--secondary-text-color);
  border: border 1px solid rgba(0, 0, 0, 0.1);
}

.icon-close-button {
  width: 18px;
  height: 18px;
}

.modal-header {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 11px;
}

.modal-form__label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
}

.modal-form__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus-within {
  border: 1px solid var(--accent-color);
}
.modal-form__input:hover {
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-form__label:focus-within .modal-icon {
  fill: var(--accent-color);
}

.modal-form__label:hover .modal-icon {
  fill: var(--accent-color);
}

.modal-form__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  outline: none;
  resize: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field__comment:focus-within {
  border: 1px solid var(--accent-color);
}
.modal-field__comment:focus-within:hover, .modal-field__comment:focus-within:focus, .modal-field__comment:focus-within:active {
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.modal-form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.modal-form__checkbox-icon {
  display: block;
  width: 16px;
  height: 15px;
  background-image: url(../images/icon-checked.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
}
.modal-form__checkbox:focus + .modal-form__checkbox-icon {
  border-color: var(--accent-color);
}
.checkbox:checked + .modal-form__checkbox-icon {
  background-color: var(--accent-color);
  background-origin: border-box;
  border-color: var(--accent-color);
}

.modal-forms__terms {
  color: var(--accent-color);
  cursor: pointer;
  margin-left: 4px;
  -webkit-transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-forms__terms:hover, .modal-forms__terms:focus, .modal-forms__terms:active {
  font-weight: 700;
}

.modal-form__button-send {
  display: block;
  height: 50px;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  font-family: inherit;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 4px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__button-send:hover, .modal-form__button-send:focus, .modal-form__button-send:active {
  -webkit-box-shadow: 0 5px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 2px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .preference {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .preference {
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .preference__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .preference__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.preference__title {
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .preference__title {
    text-align: left;
  }
}

.preference__item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.preference__item:nth-child(1)::before {
  background-image: url(../images/antenna\ 1.svg);
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.preference__item:nth-child(2)::before {
  background-image: url(../images/clock\ 1.svg);
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.preference__item:nth-child(3)::before {
  background-image: url(../images/diagram\ 1.svg);
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.preference__item:nth-child(4)::before {
  background-image: url(../images/astronaut\ 1.svg);
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.service {
  display: none;
}
@media screen and (min-width: 1200px) {
  .service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.what-wedo {
  display: none;
}
@media screen and (min-width: 1200px) {
  .what-wedo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 94px;
  }
}

.service__description {
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  bottom: 27px;
  left: 107px;
}

.service__image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.service__image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
}

.team-position {
  text-align: center;
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    margin: -15px;
  }
}

.team__photo {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team__photo:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__photo {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .team__photo:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1199px) {
  .team__photo {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team__professions {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}

.team__discription {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.social__item {
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus, .social__link:active {
  color: var(--secondary-text-color);
  fill: var(--primary-text-color);
  background-color: var(--accent-color);
}

.social__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.patron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
.patron:focus {
  border: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .patron {
    margin: -15px;
  }
}

@media screen and (min-width: 480px) {
  .patron__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .patron__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .patron__item {
    width: calc((100% - 180px) / 6);
    margin: 15px;
  }
}

.patron__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 2px solid #AFB1B8;
  color: #AFB1B8;
  height: 92px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.patron__link:hover, .patron__link:focus, .patron__link:active {
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.patron_icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bgd-color);
}

.footer__container {
  display: block;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.logo__footer {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.logo__wight-text {
  color: var(--secondary-text-color);
}

.contacts__items {
  margin-bottom: 9px;
}
.contacts__items:last-child {
  margin-bottom: 0px;
}

.contacts__footer {
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.footer__tablet {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__tablet {
    text-align: center;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__tablet {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    text-align: start;
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.join-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .join-us {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .join-us {
    text-align: start;
  }
}
.join-us__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .join-us__footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.join-us__item {
  margin-right: 10px;
}
.join-us__item:last-child {
  margin-right: 0;
}

.join-us__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-us__link:hover, .join-us__link:focus, .join-us__link:active {
  background-color: var(--accent-color);
}

.join-us__item {
  margin-right: 10px;
}
.join-us__item:last-child {
  margin-right: 0;
}

.join-us__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.sign-up {
  display: block;
  width: 100%;
  height: 100%;
}

.sign-up--form {
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .sign-up--form {
    margin-left: 93px;
  }
}

.sign-up__title {
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .sign-up__title {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .sign-up__title {
    max-width: 219px;
  }
}

.sign-up-field {
  display: block;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .sign-up-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.sign-up__input {
  max-width: 450px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--secondary-bgd-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-bottom: 20px;
}
.sign-up__input:focus-within {
  border: 1px solid var(--third-bgd-color);
}
@media screen and (min-width: 1200px) {
  .sign-up__input {
    max-width: 358px;
    margin-bottom: 0;
  }
}

.sign-up__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}
.sign-up__button:hover, .sign-up__button:focus, .sign-up__button:active {
  -webkit-box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 1200px) {
  .sign-up__button {
    margin-left: 12px;
  }
}

.sign-up__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.size-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__nav {
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__nav__item {
  margin-right: 8px;
}
.portfolio__nav__item:last-child {
  margin-right: 0px;
}

.portfolio__nav__button {
  padding: 6px 22px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--third-bgd-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__nav__button:hover, .portfolio__nav__button:focus, .portfolio__nav__button:active {
  background-color: var(--accent-color);
  color: #ffffff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__work {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__work_item {
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__work_item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio__work_item:hover, .portfolio__work_item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__work__description {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio__work__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio__work__text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio__link {
  display: block;
  text-decoration: none;
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .portfolio__work--overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__work__pictures {
  position: relative;
  overflow: hidden;
}
.portfolio__work__pictures:hover .portfolio__work--overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__work--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button {
  margin-left: auto;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.menu-container {
  position: fixed;
  top: 0;
  padding-left: 40px;
  width: 100%;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}
.menu-container.is-open {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.mobile-list {
  margin-top: 48px;
  margin-bottom: auto;
}

.mobile-list-item {
  margin-bottom: 32px;
}
.mobile-list-item:last-child {
  margin-bottom: 0;
}

.mobile-list-link {
  max-width: 219px;
  max-height: 48px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-list-link:hover,
.mobile-list-link :focus,
.mobile-list-link :active {
  cursor: pointer;
  color: var(--accent-color);
}

.mobile-contacts-item:first-child {
  margin-bottom: 32px;
}

.mobile-contacts-item:last-child {
  margin-bottom: 64px;
}

.mobile-contacts-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contacts-phone:hover, .mobile-contacts-phone:focus, .mobile-contacts-phone:active {
  color: #0e7cd6;
}

.mobile-contacts-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 43px;
}

.mobile-socials-item:not(:last-child):after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 10px;
  margin-left: 10px;
}

.mobile-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-social-link:hover, .mobile-social-link:focus, .mobile-social-link:active {
  color: #0e7cd6;
}/*# sourceMappingURL=main.css.map */