.header{
    
}
.header-container {
    align-items: center;}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
    
    
}
.logo__black-text {
    color: var(--title-text-color);
}
.header__group {
    display: flex;
    margin-left: auto;
    .header__contacts+.header__contacts {
            margin-left: 50px;
        }
}
.nav__list {
    display: none;
    .nav__item:not(:last-child) {
            margin-right: 50px;
        }

}
.nav__item {
    position: relative;
}
.nav__menu {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__menu.nav__menu--active::after {
    position: absolute;
    top: calc(100% - 4px);
    left: 0;
    
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--accent-color);
}


.contacts__link {
    display: none;
    

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__envelope-image {
    fill: currentColor;
    width: 16px;
    height: 12px;
    margin-right: 10px;

}

.contacts__phone-image {
    fill: currentColor;
    width: 10px;
    height: 16px;
    margin-right: 10px;

}