.size-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio__nav {
    margin-bottom: 50px;
    justify-content: center;
    display: flex;
     gap: 8px;
    row-gap: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
    @media screen and ( min-width:768px) {
        display: flex;
        justify-content: center;
        
    }
}
.portfolio__nav__item {
    margin-right: 8px;
    &:last-child {
            margin-right: 0px;
        }
}
.portfolio__nav__button {
    padding: 6px 22px;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--third-bgd-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus,
    &:active {
        background-color: var(--accent-color);
        color: #ffffff;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }


}
.portfolio__work{
    //gap: 30px;
    //display: flex;
    //flex-wrap: wrap;
}
.portfolio__work_item {
    cursor: pointer;
&:nth-child(3n) {
        margin-right: 0px;
    }    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
}
.portfolio__work__description {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.portfolio__work__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.portfolio__work__text {
    margin-top: 4px;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.portfolio__link {
    display: block;
    text-decoration: none;
&:hover,
&:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}
.portfolio__link:hover .portfolio__work--overlay {
    transform: translateY(0);
}
.portfolio__work__pictures {
    position: relative;
    overflow: hidden;
&:hover .portfolio__work--overlay {
        transform: translateY(0);

    }

}
.portfolio__work--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 100%;

    background: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    padding: 63px 24px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


}