.service {
    display: none;
    @media screen and (min-width:1200px) {
            display: flex;
            gap: 30px;
    
        }

   
}
.what-wedo {
    display: none;
    @media screen and (min-width:1200px) {
            display: flex;
            padding-bottom: 94px;
    
        }

}
.service__description {
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    text-transform: uppercase;
    bottom: 27px;
    left: 107px;

}
.service__image {
    position: relative;
    display: flex;
&::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
     }
}